@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --gradient: linear-gradient( hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --gale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);

}

html, body {
    background: #111d43;
    color: var(--gale-blue);
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url(images/bg-desktop.png) no-repeat fixed;
    background-position: 0px 270px;
    display: block;
}

@media only screen and (max-width: 600px) {
    body {
    background: url(images/bg-mobile.png);
    background-position: 0px;
    }
}

section {
    display: flex;
}

@media only screen and (max-width: 600px) {
    section {
        display: inline;
        
    }
}


.fylo {
    float: left;
    position: relative;
    top: 200px;
    left: 100px;
    width: 270px;
    height: 200px;
    background: var(--dark-blue);
    border-radius: 7px 90px 7px 7px;
}

@media only screen and (max-width: 600px) {
    .fylo {
        float: none;
        top: 115px;
        left: 40px;
        width: 300px;
        height: 170px;
    }
}

.fylo>img {
    margin-top: 20px;
    margin-right: 8px;
    padding: 9px;
    border-radius: 7px;
    
}



.doc-img {
    margin-left: 30px;
}

.doc-img, .fol-img, .up-img {
    background: var(--very-dark-blue);
    width: 7%;
    height: 16px;
}

.logo-img {
    width: 40%;
    margin-left: 20px;
}

/* second element */

.storage {
    z-index: 1;
    float: right;
    position: relative;
    left: 130px;
    top: 255px;
    width: 400px;
    height: 75px;
    padding: 35px;
    background: var(--dark-blue);
    font-size: 14px;
    border-radius: 7px;
}

@media only screen and (max-width: 600px) {
    .storage {
        top: 130px;
        width: 250px;
        height: 115px;
        padding: 50px;
        float: none;
        left: 40px;
        padding: 25px;
    }
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
}

ul>li>p.bottom-txt1 {
    position: relative;
    right: 33px;
}

ul>li>p.bottom-txt2 {
    margin-left: 270px;
}

@media only screen and (max-width: 600px) {
    ul>li>p.bottom-txt2 {
        margin-left: 120px;
        
    }
}

.progress {
    width: 75%;
    height: 10px;
    border-radius: 20px;
    padding: 3px;
    background: var(--gradient);
    border: 2px solid var(--very-dark-blue);
}

.progress::before {
    z-index: -1;
    position: relative;
    bottom: 5px;
    left: 285px;
    width: 35%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    padding: 5px;
    background: var(--very-dark-blue);
    display: block;
    content: '';
}

@media only screen and (max-width: 600px) {
    .progress::before {
        left: 170px;
        
    }
}

.prog-circle {
    position: relative;
    bottom: 61.5px;
    left: 293px;
    width: 3%;
    height: 14px;
    background: var(--gale-blue);
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .prog-circle {
        left: 180px;
        bottom: 60px;
        width: 4.5%;
        height: 11px;
    }
}

.text-cloud {
    display: flex;
    background: var(--gale-blue);
    width: fit-content;
    height: 90px;
    border-radius: 15px 15px 8px 15px;
    position: relative;
    bottom: 230px;
    left: 210px;
}
  
@media only screen and (max-width: 600px) {
    .text-cloud {
       left: 30px;
       bottom: 0;
       width: 200px;
    }
}

  .triangle {
    position: relative;
    top: 84px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 12px solid transparent;
    border-top: 30px solid var(--gale-blue);
  }
  
  @media only screen and (max-width: 600px) {
    .triangle {
        display: none;
    }
}

  .text-cloud>p {
      color: var(--dark-blue);
  }

  .cloud-text1 {
      position: relative;
      bottom: 20px;
      margin-bottom: 10px;
      margin-left: 20px;
      font-size: 40px;
      margin-bottom: 50px;
  }

  @media only screen and (max-width: 600px) {
    .cloud-text1 {
        bottom: 9px;
        left: 15px;
        font-size: 35px;
    }
}

  .cloud-text2 {
      color: var(--grayish-blue);
      margin-top: 36px;
      margin-left: 10px;
  }

  @media only screen and (max-width: 600px) {
    .cloud-text2 {
        margin-top: 38px;
        margin-left: 30px;
    }
}